%p
  Hello #{@content[:user].name},
%p
  You have a session booked between #{@content[:starttime]} and #{@content[:endtime]}
%p Thank you again for your participation! Your help is greatly valued.
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
