- if labels_t.nil?
  - translated_options = t options_t, scope: "sp_experiment.labels.#{section}.answers"
  - options = (0 .. translated_options.size - 1).map {|i| [translated_options[i], base_value + i]}
- else
  - options = labels_t.map {|label_t| [t("sp_experiment.labels.#{section}.answers.#{label_t}"), label_t]}

- if multiple
  .form-group{id: 'd-' + id.dasherize}
    %label.control-label
      #{t("sp_experiment.labels.#{section}.questions.#{label_t}")}
    - options.each do |option, option_t|
      - cb_id = labels_t.nil? ? "#{id}_#{option_t}" : option_t
      .form-check{style: 'margin-left: 15px'}
        = check_box_tag cb_id, option_t, false, class: 'form-check-input'
        = label_tag cb_id, option, class: 'form-check-label'
- elsif layout == 'horizontal'
  .form-group.row{id: 'd-' + id.dasherize}
    %label.control-label.col-sm-6.col-form-label
      #{t("sp_experiment.labels.#{section}.questions.#{label_t}")}
    .col-sm-6
      = select_tag id, options_for_select(options), include_blank: true, class: 'form-control', required: true
- else
  .form-group{id: 'd-' + id.dasherize}
    %label.control-label
      #{t("sp_experiment.labels.#{section}.questions.#{label_t}")}
    = select_tag id, options_for_select(options), include_blank: true, class: 'form-control', required: true