.login_section
  - @user_session = UserSession.new
  = form_for @user_session, :url => user_session_path, :html => {:class=>"form_login form_user", :name=>"form_login"} do |f|
    %table.col-xs-12
      %tr
        %td{:colspan => "2", :style => "padding: 5px"}
          %h5.content_5.title_1= I18n.t('newuser.login')
      %tr
        %td{:colspan => "2"}
          %label.hide{:for => "user_session_email"} Email
          %input#user_session_email.col-xs-12{:name => "user_session[username]", :placeholder => "Username/Email", :size => "31", :type => "text"}/
      %tr
        %td{:colspan => "2"}
          %label.hide{:for => "user_session_password"} Password
          %input#user_session_password.col-xs-12{:name => "user_session[password]", :placeholder => "Password", :size => "31", :type => "password"}/
      %tr
        %td
          %input.bigbutton{:name => "login_submit", :type => "submit", :value => "Login"}/
          or  
          \#{link_to I18n.t('newuser.register') , new_users_path, :class=>"bigbutton"}
          %br/
          = link_to I18n.t('newuser.forgot_passwd') , new_password_reset_path
        %td
