- if flash[:error]
  %p{:style => "text-align: center;color: red;font-weight: bold;"}= flash[:error]
#calendar_holder.grid_12
  %h2 Schedule a help session
  %p
    Select one of the available slots to schedule an help session.
  #table_wrapper
    %table#calendar_contents{:border => "1"}
      %thead
        %tr
          %th
          - curr_day = DateTime.now
          - (1..7).each do |day|
            %th= (curr_day + day.day).strftime("%a,%d/%m/%Y")
      %tbody
        - time = DateTime.now.change({:hour => 9 , :min => 0 , :sec => 0 })
        - puts time.inspect
        - puts (time+12.hour).inspect
        - (time.to_i..(time+12.hour).to_i).step(90.minutes) do |curr_time|
          %tr
            %td
              = Time.at(curr_time).strftime("%H:%M")
            - (1..7).each do |day|
              %td.timeslot.slot_status_notavailable{:rel => "#{(Time.at(curr_time).utc+day.day).to_i}"}
                %span n/a
#bookingConfirmation{:style => "display:none"}
  .confirmationDialog.shadow
    %form{:action => "url_for :controller => "pages", :action => "calendar"", :method => "POST"}
      %h3 Booking Confirmation
      %p You would like to book a support session for:
      %p.dateinfo
        %span.date
        at
        %span.starttime
      / to <span class="endtime"></span></p>
      .extra_info_fields
        %p Please provide us with the following information:
        %p.error-label{:style => "visibility: hidden;"} Please fill in the missing fields
        .label
          Contact number
          .help_hint
            ?
            #contact_number_hint{:style => "display:none"}
              To conduct the help session one member of our team will contact you on the scheduled time.
        %input{:name => "contactnumber", :type => "text"}/
        .label Let us know what we can help you with:
        %textarea{:name => "comment"}
      %input{:name => "slotId", :type => "hidden", :value => ""}/
      %input.no_button.button{:name => "no_button", :type => "button", :value => "Cancel"}/
      %input.button.yes_button{:name => "yes_button", :type => "submit", :value => "Confirm"}/
#bookingCancel{:style => "display:none"}
  .confirmationDialog.shadow
    %form{:action => "url_for :controller => "pages", :action => "calendar"", :method => "POST"}
      %p
        Do you want to cancel the support appointment on the
        %span.date
        from
        %span.starttime
        to
        = succeed "?" do
          %span.endtime
      %br/
      %input{:name => "slotId", :type => "hidden", :value => ""}/
      %input{:name => "cancelBooking", :type => "hidden", :value => "true"}/
      %input.button{:name => "no_button", :type => "button", :value => "No"}/
      %input.button{:name => "yes_button", :type => "submit", :value => "Yes"}/
:javascript
  var occupied_slots = JSON.parse('#{raw @slotsjson}');
  var bookings = JSON.parse('#{raw @bookingsjson}');
  jQuery(document).ready(function($){
  
  	function toDateTime(secs)
  	{
  		var t = new Date(1970,0,1);
  		t.setSeconds(secs);
  		return t;
  	}
  
  	function initSlots(){
  		/*$.post(	"<haml_silent></haml_silent>",
  				{ starttime: "<haml_silent></haml_silent> "}, renderSlots);*/
  		for(var i=0; i < occupied_slots.length; i++){
  			var slot = occupied_slots[i]
  			console.log(slot.starttime)
  			activateSlot(slot.starttime, slot.id);
  		}
  
  		for(var i=0; i < bookings.length; i++){
  			var slot = bookings[i].slot_id
  			console.log(slot)
  			var elm = $("td#"+slot)
  			elm.removeClass('slot_status_notavailable');
  			elm.removeClass('slot_status_available');
  			elm.addClass('slot_reserved');
  			elm.html('<span>booked</span>')
  		}
  	}
  
  	function renderSlots(data){
  		console.log(data);
  	}
  
  	function activateSlot(starttime,id){
  		var elm = $("td[rel='"+starttime+"']")
  		elm.removeClass('slot_status_notavailable');
  		elm.addClass('slot_status_available');
  		elm.html('<span>available</span>')
  		elm.attr('id', id);
  	}
  
  	function setSlotInUse(starttime){
  		var elm = $("td[rel='"+starttime+"']")
  		elm.removeClass('slot_status_available');
  		elm.addClass('slot_status_notavailable');
  		elm.html('<span>available</span>')
  	}
  
  	function setSlotFree(starttime){
  		$("td[rel='"+starttime+"']").removeClass('slot_status_available');
  		$("td[rel='"+starttime+"']").addClass('slot_status_notavailable');
  		elm.html('<span>n/a</span>')
  	}
  
  	$('.timeslot').click(function(e){
  		console.log(arguments)
  		var elm = $(e.currentTarget)
  		var slotid = elm.attr('id')
  		console.log(slotid)
  		window.slot = elm
  
  		var d = new Date()
  		var n = d.getTimezoneOffset();
  
  		var starttimestamp = parseInt(elm.attr('rel'))
  		var dtobj = toDateTime(starttimestamp - n*60);
  		var bookingDate = dtobj.getFullYear()+"-"+(dtobj.getMonth()+1)+"-"+dtobj.getDate()
  
  		var starttime = dtobj.getHours()+":"+(dtobj.getMinutes()<=9?'0':'')+dtobj.getMinutes();
  
  
  		var etobj = toDateTime(starttimestamp+5400 -n*60);
  		var endtime = etobj.getHours()+":"+(etobj.getMinutes()<=9?'0':'')+etobj.getMinutes();
  
  		if (elm.hasClass("slot_status_available")) {
  
  
  
  			$('#bookingConfirmation input[name="slotId"]').val(slotid);
  			$('#bookingConfirmation span.date').html(bookingDate);
  			$('#bookingConfirmation span.starttime').html(starttime);
  			$('#bookingConfirmation span.endtime').html(endtime);
  			$('#bookingConfirmation').show();
  
  			$('#bookingConfirmation .error-label').css('visibility','hidden');
  			$('#bookingConfirmation input[name="contactnumber"]').removeClass('error')
  			$('#bookingConfirmation textarea').removeClass('error');
  
  		} else if (elm.hasClass("slot_reserved")){
  			// setSlotFree
  			console.log("---- Not available ----");
  
  			$('#bookingCancel input[name="slotId"]').val(slotid);
  			$('#bookingCancel span.date').html(bookingDate);
  			$('#bookingCancel span.starttime').html(starttime);
  			$('#bookingCancel span.endtime').html(endtime);
  			$('#bookingCancel').show();
  		}
  	})
  
  	$('#bookingConfirmation input[name="yes_button"]').click(function(e){
  		var contactNb = $('#bookingConfirmation input[name="contactnumber"]').val();
  		var comment = $('#bookingConfirmation textarea').val();
  		var failed = false;
  		console.log(contactNb);
  		if (contactNb.length < 8 ){
  			failed = true;
  			$('#bookingConfirmation input[name="contactnumber"]').addClass('error');
  			$('#bookingConfirmation .error-label').css('visibility','visible');
  		} else {
  			$('#bookingConfirmation input[name="contactnumber"]').removeClass('error');
  		}
  
  		if (comment.length < 5) {
  			$('#bookingConfirmation textarea').addClass('error');
  			$('#bookingConfirmation .error-label').css('visibility','visible');
  			failed = true;
  		} else {
  			$('#bookingConfirmation textarea').removeClass('error');
  		}
  
  		if (failed) {
  			e.preventDefault();
  		} else {
  			$('#bookingConfirmation .error-label').css('visibility','hidden');
  		}
  	})
  	$('#bookingConfirmation input[name="no_button"]').click(function(){ $('#bookingConfirmation').hide(); });
  	$('#bookingCancel input[name="no_button"]').click(function(){ $('#bookingCancel').hide(); });
  
  	$('.help_hint').hover(function(e){
  		$('#contact_number_hint').show();
  	}, function(e){
  		$('#contact_number_hint').hide();
  	})
  
  	initSlots();
  })
