.row{:style => "margin-top: 10px;"}
  #disclaimer.col-xs-offset-2.col-xs-8.well.text-justify
    %h3.text-center Disclaimer
    %h4
    %p
      The answers you provide to every section of this survey are considered confidential. At no place or time will we ask your name and all the records will be anonymised.
      %b
        %u We ask for the first four digits of the postcode of your home and office
      (if applicable) and will use it for market research and analysis purposes only. Your confidentiality is our top priority as such and the data will be collected and stored
      = succeed "." do
        %b
          %u in accordance with the Data Protection Act 1998
    %p Participation in the survey is completely voluntary and you are free to discontinue at any time. We will retain data collected from this survey on secure servers for current and future research.
    %p Kindly indicate whether your are willing to participate in this survey by clicking on the appropriate buttons below.
    %h3
      = button_to "Yes", pre_questionnaire_path, :method => :post, class:"btn btn-primary pull-left"
      = button_to "No", screenout_user_path(current_user), :method => :get, class:"btn btn-primary pull-right"
.stripes{:style => "margin-top: 10px;"}
:css
  #disclaimer p {
    text-align: justify;
  }
