= javascript_include_tag "umove/resident_sp"
= form_tag(pages_survey_url, method: :post, id: "begin_survey") do
  .row{:style => "margin-top: 10px;"}
    #home_page.col-xs-offset-1.col-xs-10.well.text-justify
      %h4.text-center
        %b Cette enquête fait partie du projet européen de recherche H2020 MaaS4EU
      %h4
      %p Il s'agit d'une enquête sur un nouveau service de mobilité qui sera disponible dans votre ville (région) bientôt. Pour être en mesure de vous fournir les meilleurs services, nous menons cette enquête pour comprendre vos préférences de voyage et vos besoins.
      - if @city_id != City::OXFORDSHIRE
        %p Une fois que vous avez terminé l'enquête complète, vous serez inscrit dans un tirage au sort pour gagner des billets gratuits et à prix réduit pour différents modes de transport. Pour entrer le tirage au sort, veuillez fournir votre courriel:
        %p.text-center.col-md-offset-3.col-md-9{:style => "margin-top: 0px;"}
          %span.col-md-3 Email:
          %span.col-md-6{:style => "margin-left: -50px;"}
            = text_field_tag :user_email, nil, class: "form-control", placeholder: "Entrez votre adresse email"
      %p.text-right Nous apprécions vraiment votre participation et vos réponses honnêtes.
      %p
        %i
          Vos données sont protégées selon la législation européenne sur la protection et la confidentialité des données personnelles. Vos données sont rendues anonymes et ne seront utilisées qu'aux fins de ce projet. Veuillez lire la
          %a{:href => "/docs/policy.pdf"}
            %u politique de confidentialité
          et la
          %a{:href => "/docs/faq_maas.pdf"}
            %u FAQ
          pour plus d'informations.
      - if @city_id == City::TURIN
        %h5.row.text-center
          %span.col-md-6 Sélectionnez la langue de votre sondage
          %span.col-md-3
            = select_tag "lux_language", options_for_select(@lux_language_options, 3), class: "form-control"
      %h3
        = hidden_field_tag "city_id", @city
        = button_tag type: 'submit', class: 'btn-lg btn-warning pull-right' do
          Start the survey
/ end of form
.stripes{:style => "margin-top: 10px;"}
:css
  #home_page p {
    font-family: Helvetica;
    font-size: 16px;
    /*text-align: justify;*/
  }

  #home_page .title_1 {
    font-family: Helvetica;
  }

  label {
    font-weight: normal;
  }
