/ first line
.col-xs-12
  .col-md-6.col-xs-12
    .register_section
  / end of register line
  #login_section.col-md-6.col-xs-12
    = render 'internal'
  / end of login line
  .clear
  .stripes
/ third line login and register
.clear
.col-xs-12
  .col-md-6.col-xs-12
    .row
      .col-md-6.col-xs-12
        %p.title_1
          = I18n.t('newuser.question1')
        %p.content_1= I18n.t('newuser.answer1', :smart_url=> "<span class='class1'>"+link_to(I18n.t('newuser.smart_fm'), 'http://smart.mit.edu/')+"</span>", :lta_url=> "<span class='class1'>"+link_to(I18n.t('newuser.lta'), 'http://www.lta.gov.sg/')+"</span>")
      .col-md-6.col-xs-12
        %p.title_1
          = I18n.t('newuser.question2')
        %p.content_1= I18n.t('newuser.answer2')
  .col-md-6.col-xs-12
    .row
      .col-md-6.col-xs-12
        %p.title_1
          = I18n.t('newuser.question3')
        %p.content_1
          = I18n.t('newuser.answer3', :place => I18n.t('newuser.place_name'))
      .col-md-6.col-xs-12
        %p.title_1
          = I18n.t('newuser.question4')
        %p.content_1
          = I18n.t('newuser.answer4')
          = succeed "." do
            %span.class1
              %a{:href => "/docs/UCL_MaaS_Privacy_Final.pdf"}= I18n.t('newuser.click_here')
        %p  
        %p.title_1
          = I18n.t('newuser.answer5')
        %p  
        %p.title_1
          = I18n.t('newuser.thank_you')
:javascript
  jQuery(document).ready(function(){
  
  if(!Modernizr.input.placeholder){
  
  		jQuery('.form_user label').each(function(idx,obj){
  		elm = jQuery(obj)
  		elm.removeClass('hide');
  	})
  
  }
  
  });
