!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Survey
    = stylesheet_link_tag    "common", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
