!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Happy Mobility Survey Backoffice", :name => "description"}/
    %meta{:content => "SMART-FM", :name => "author"}/
    %link{:href => "/assets/smart/favicon3.ico", :rel => "icon", :type => "image/gif"}/
    %title HMSurvey - Backoffice
    = stylesheet_link_tag "backofficeCSS", :media => 'all'
    /[if IE ]
      <link rel="stylesheet" type="text/css" href="/stylesheets/ink-ie.css">
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    / Google Maps JS on top, needs to be loaded first
    %script{:src => "https://maps.google.com/maps/api/js?sensor=true&libraries=geometry", :type => "text/javascript"}
    = javascript_include_tag "vendor", "backofficeJS"
    = csrf_meta_tags
    :javascript
      var smart;
      if (smart === undefined) {
      	smart = {};
      }
      if (smart.instances === undefined){
      	smart.instances = {};
      }
    = yield :scripts
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34220786-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  / FancyBox Hack
  %body
    #hidden_clicker{:style => "display:none"}
      %a#hiddenclicker{:href => "#"} Hidden Clicker
    .alert_container
    #wrap
      .container
        .row
          / header: logo + feedback + menu
          .col-xs-12.col-md-4.hidden-xs
            = link_to image_tag("smart/logo-hms.png", :alt =>"logo" ), :root, :class =>"image_link"
          /
            <div class="col-md-2">
            <haml_loud> link_to image_tag(&quot;smart/feedback_fms.png&quot;, :alt =&gt;&quot;feedback&quot; ), :root, :class =&gt;&quot;image_link&quot; </haml_loud>
            </div>
          .col-xs-12.col-md-8.pull-right.header_right
            .menus
              .menu_user
                .menu_user2
                  - if logged_in?
                    %ul
                      .col-xs-6.col-md-5.col-md-offset-3.control-narrow
                        %li.time_zone_panel_container
                          = render "partials/change_timezone"
                        %li= current_user.time_zone
                      .col-xs-6.col-md-4.control-narrow
                        - if current_user.has_role? 'admin'
                          %li= link_to "Backoffice", backoffice_root_path
                        - if current_user.has_role? 'helper'
                          %li= link_to "Call center", backoffice_helpcenter_root_path
                        - if current_user.has_role? 'guardian'
                          %li
                            %a{:href => "/backoffice/guardian/"} Guardian Center
                        %li= link_to I18n.t('layout.logout'), user_session_path, :method => :delete
                      .col-xs-12.col-md-12.control-narrow
                        %li.row
                          = link_to I18n.t('layout.welcome', :username => "#{current_user.name}"), pages_dashboard_path
                        - else
                          %ul
                / .menu_user
                .menu_main
                  %ul
                    %li= link_to I18n.t('layout.contacts'), pages_contacts_path, :class => ("current" unless url_for() != "/pages/contacts")
                    - if logged_in?
                      %li= link_to I18n.t('layout.support'), pages_support_path
                    - if logged_in?
                      - if !current_user.completedPresurvey
                        %li= link_to I18n.t('layout.presurvey'), attempt_presurvey_path, :class => ("current" unless (request.url =~ /\/surveys\/presurvey/).nil? )
                      - else
                        %li= link_to I18n.t('layout.adiary'), report_root_path, :class => ("current" unless url_for() != "/report")
                      %li= link_to 'DASHBOARD', pages_dashboard_path
                      - if current_user.finished[0]
                        %li
                      / <li><haml_silent></haml_silent></li>
                      %li= link_to I18n.t('layout.home'), pages_home_path, :class => ("current" unless (url_for() != "/pages/home" and url_for() != "/pages/home_mobile"))
                    - else
                      %li= link_to  I18n.t('layout.home'), pages_root_path, :class => ("current" unless url_for() != "/pages/newuser")
                / .menu_main
              / .menus
              .clear
            / .col-md-4
          / .row
          %br/
          .row
            .col-md-12.stripes
          %br/
          .row
            = yield
        / /.container
      / /wrap
      %footer.footer
        .container.credit
          = link_to image_tag("smart/smart_logo.png", :alt =>"smart" ), "http://smart.mit.edu", :target => "_blank", :class =>"image_link"
      /
        Bootstrap core JavaScript
        \==================================================
      / Placed at the end of the document so the pages load faster
