!!!
/[if IE 7] <html class="ie7" lang="en">
/ [if !(IE 7)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    / <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    %meta#mvp{:content => "height=device-height, width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "HARMONY", :name => "application-name"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "University College London - Energy Institute", :name => "author"}/
    = render 'application/favicon'
    %title HARMONY
    = stylesheet_link_tag "pre-common", :media => 'all'
    = stylesheet_link_tag "timeline", :media => 'all'
    = stylesheet_link_tag "common", :media => 'all'
    = stylesheet_link_tag "rails_bootstrap_forms", :media => 'all'
    = stylesheet_link_tag "introjs.min", :media => 'all'
    = csrf_meta_tags
    = stylesheet_link_tag "hint.min.css"
    = render :partial => "/layouts/header_frontend"
  %body
    #wrapper.container
      #header.row
        = link_to 'https://www.maaslab.org/', target: :_blank do
          #maaslab-logo.logo.col-md-3
        = link_to 'https://harmony-h2020.eu/', target: :_blank do
          #harmony-logo.logo.col-md-2
        .col-md-5
        #languages-container.col-md-2
          #languages.col-md-2
            = link_to '🇬🇧', '?locale=en'
            = link_to '🇵🇱', '?locale=pl'
            = link_to '🇬🇷', '?locale=el'
            = link_to '🇪🇸', '?locale=es'
            = link_to '🇨🇳', '?locale=zh'
      #maincontent.row
        - flash[:class] ||= "content_feedback"
        .col-xs-12
          #flash_messages
            - if flash[:notice]
              %p{:class => "<haml_loud"}
                flash[:class] &gt;#{flash[:notice]}
            - yield :flash_messages
          .stripes
        / <div class="clear"></div>
        = yield :topselection
        = yield :secondselection
        .clear.hidden-xs
        / <div class="clear"></div>
        #bottom_selection.row
          = yield :bottomleft
          = yield :bottomright
        = yield
      / end .container_12
      / Footer
    / end of wrapper
    %footer#footer
      .container.smart_logo
        .row
    - if false
      #helpbutton
        %p  
        %a{:href => "#helpscreen"} Need Help?
    #sDialog.feedbackDialog.shadow{:style => "display:none"}
      .xClose X
      .container
        #onlineHelp.slot.ruler_r
        #scheduleSession.slot
          %h3 Schedule a session
          %p We encourage you to schedule a live session with us so we can give you a first introduction to our interface.
          .sessionStatus
    / TEMPLATES
    %script#template_supportScreen_online{:type => "text/html"}
      :cdata
        <h3>Need Help?</h3>
        <p class="helpcenter_status">
        \#{image_tag("smart/helpcenter_online.png", :alt =>"Helpcenter online", :title => "Online" )}
        Status: Online
        </p>
        <p>Anything we can help you with?</p>
        <p>Feel free to chat with us.</p>
        <p><a href="#" class="button_start_chat">Start Chat</a></p>
    %script#template_supportScreen_offline{:type => "text/html"}
      :cdata
        <h3>Need Help?</h3>
        <p class="helpcenter_status">
        \#{image_tag("smart/helpcenter_offline.png", :alt =>"Helpcenter offline", :title => "Offline" )}
        Status: Offline
        </p>
        <p>Unfortunately at this moment we do not have anyone available to assist you.</p>
        <p>Feel free to contact us by email at fmsurvey@smart.mit.edu.</p>
    %script#template_supportScreen_schedule{:type => "text/html"}
      :cdata
        <p class="scheduleInfo">You have a schedule session on <span class="date"></span> at <span class="time"></span>.</p>
        <p><a href="/pages/calendar" target="_blank" class="button_reschedule"> Reschedule </a></p>
    %script#template_supportScreen_noschedule{:type => "text/html"}
      :cdata
        <p><a href="/pages/calendar" target="_blank" class="button_schedule"> Schedule a Session </a></p>
    / SCRIPTS AFTER HERE
    = yield :scripts

:css
  .logo {
    /*background-color: black;*/
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #maaslab-logo {
    background-image: url('/assets/maas/maas-logo-02.png');
  }

  #harmony-logo {
    background-image: url('/assets/maas/harmony.png');
  }

  #languages-container {
    height: 75px;
    display: flex
  }

  #languages {
    width: 195px;
    margin: auto;
    font-size: 16px;
  }